@model BiddingSystem.Models.Account.AddressModel

<div class="row">
    <div class="col-md-6 form-group">
        <label asp-for="AddressLine1">Address Line 1</label>
        <input asp-for="AddressLine1" class="form-control" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="AddressLine2">Address Line 2</label>
        <input asp-for="AddressLine2" class="form-control" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
</div>    
<div class="row">
    <div class="col-md-6 form-group">
        <label asp-for="City"></label>
        <input  asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="County"></label>
        <input asp-for="County" class="form-control" />
        <span asp-validation-for="County" class="text-danger"></span>
    </div>
</div>    
<div class="row">
    <div class="col-md-6 form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="PostCode">Post Code</label>
        <input asp-for="PostCode" class="form-control" />
        <span asp-validation-for="PostCode" class="text-danger"></span>
    </div>
</div>