@model int
<div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span class="d-xs-none">Step 1 - User information</span>
            <span class="d-sm-none d-md-none d-lg-none d-xl-none">User information</span>
        </div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;"
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Step 2 - Company information</div>    
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Step 3 - Address information</div>    
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Step 4 - Confirmation</div>
</div>